# %STEM%.%EXT%

**%LABEL_CODE_EXAMPLES%:** [curl](#curl)

### SPARQL

```sparql
%SOURCECODE%
```

[%LABEL_RUN%](%RUNURL%) %LABEL_OR% [%LABEL_EDIT%](%EDITURL%)

### %LABEL_OUTPUT%

%OUT%

## %LABEL_CODE_EXAMPLES%

### curl

```shell
curl -s https://raw.githubusercontent.com/egonw/SARS-CoV-2-Queries/master/sparql/%STEM%.%EXT% | sed 's+<lang/>+%LANG%+' > %STEM%.%EXT%
curl -H "Accept: text/tab-separated-values" -G https://query.wikidata.org/bigdata/namespace/wdq/sparql --data-urlencode query@%STEM%.%EXT%
```

%LABEL_LICENSE%
